/* Общие стили */
:root {
  --primery-text-color: #757575;
  --section-title-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --header-logo-color: #000000;
  --logos-buttons-shadow: rgba(0, 0, 0, 0.25);
  --footer-mail-phone-color: rgba(255, 255, 255, 0.6);
  --portfolio-buttons-color: #f5f4fa;
}
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: var(--primery-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.section {
  padding: 94px 0;
}
.header,
.footer,
.section {
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  padding: 0 15px;
  outline: 1px solid red;
}

.section > .logo,
.header-link,
.services-section-link,
.portfolio-projects-link {
  text-decoration: none;
}
.nav-items,
.contacts-items,
.services-section-items,
.portfolio-buttons-item {
  list-style-type: none;
  display: inline;
}
.section-title {
  color: var(--section-title-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.buttons {
  cursor: pointer;
  border: 0;
  font-size: 16px;
}
.subtitle {
  color: var(--section-title-color);
}

/* Хедер */
.header > .container,
.nav-container,
.nav-list,
.contacts-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > .container {
  margin: 24px 0;
}

.nav-list {
  margin-left: 93px;
}
.nav-items:not(:first-child),
.contacts-items:not(:first-child) {
  margin-left: 50px;
}
.logo {
  font-family: 'Raleway', 'Roboto', 'Arial', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  text-shadow: 0px 4px 4px var(--logos-buttons-shadow);
}
.header .logo {
  color: var(--header-logo-color);
}
.logo .logo-blue-part {
  color: #2196f3;
}
.header-link {
  font-weight: 500;
}
.nav-link {
  color: var(--section-title-color);
  line-height: 1.17;
}
.contacts-link {
  line-height: 1.14;
  color: var(--primery-text-color);
}
.header-link:hover,
.header-link:focus,
.mail-phone:hover,
.mail-phone:focus {
  color: var(--accent-color);
  outline: none;
}

/* Герой */
.section-hero {
  background-color: #2f303a;
  padding: 200px 0;
}
.section-hero > .container {
  text-align: center;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-top: 30px;
}

/* Преимущиства */
.benefits-items {
  display: inline;
}
.benefits-section .subtitle {
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

/* Услуги компании */

/* Работники компании */

.team-section li {
  font-size: 16px;
  text-align: center;
  line-height: 1.9;
}
.team-section .subtitle {
  font-weight: 500;
}

/* Футер */
.footer .logo {
  color: var(--white-color);
}
.footer address {
  font-style: normal;
  color: var(--white-color);
}
.mail-phone {
  color: var(--footer-mail-phone-color);
}

/* Страница портфолио */
.portfolio-buttons .battons {
  color: var(--section-title-color);
  background-color: var(--portfolio-buttons-color);
  font-weight: 500;
  line-height: 1.62;
}
.buttons:hover,
.buttons:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  outline: none;
  filter: drop-shadow(0px 4px 4px var(--logos-buttons-shadow));
}
.portfolio-buttons {
  text-align: center;
}
.portfolio-projects .subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.subtitle-description {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.9;
}
